@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-bg-color: #181b25;
  --color-white: #ffffff;
  --color-gray1: #b0b2bc;
  --color-gray2: #6b6d7a;
  --color-gray3: #1e222d;
  --color-gray4: #5a5b62;
  --color-green1: #2d2f39;
  --color-blue1: #4000ff;
  --color-gray5: #44464f;
  --color-gray6: #9e9fa2;
  --color-gray7: #a1a9b0;
  --color-grayTransparent: #b0b2bc80;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--white);
}

@layer utilities {
  .text-gradient {
    @apply bg-[linear-gradient(45deg,#457cf5,#84cafa_33%,#95e483_67%,#9a9dcc_100%)] bg-clip-text text-transparent;
  }
}
